<header class="container-fluid">
    <nav>
        <ul>
            <li><a href="{{ url_for("index") }}" class="secondary">
                <span class="icon-home"></span>
            </a></li>
        </ul>
        <ul>
            <li><strong>Tushare Web</strong></li>
        </ul>
        <ul>
            <li><a href="https://github.com/SimonYen/tushare-web" class="secondary" target="_blank">
                <span class="icon-social-github"></span>
            </a></li>
        </ul>
    </nav>
</header>